:root {

    /* 🎨 Couleurs */

    --color-primary-yellow: #f4d04e;
    --color-secondary-gray-950: #111111;
    --color-secondary-gray-500: #6b6b6b;
    --color-background-white: #ffffff;


    /* 🎨 Typographie */

    --font-family-base: 'Fightree', sans-serif;
    
    /* Weight */

    --font-weight-medium: 500;
    --font-weight-bold: 800;

    /* Height of text */

    --text-xl: 24px;
    --text-base: 16px;
    --text-sm: 14px;

    /* Line-height */

    --line-height-default: 1.5;  /* 150% */

    /* letter spacing */

    --letter-spacing-default: 0px;

}